body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .hero {
    background: url('https://images.pexels.com/photos/1906435/pexels-photo-1906435.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    padding: 100px 0px;
  }
  
  .card img {
    height: 200px;
    object-fit: cover;
  }
  
  footer {
    margin-top: 50px;
  }
  
  .video-section video {
    height: auto;
    padding: 20px 0px;
    width: 100vw; 
    max-height: 40vh;
    object-fit: cover;
  }
  